<div class="header-v3">

<!-- 	<span>
		<a routerLink="/" routerLinkActive="active">main</a>
		/
	</span>
 -->
	<span *ngIf="loggedIn()">
		<a routerLink="/mail">mail</a>
		/
	</span>

	<span *ngIf="loggedIn()">
		<a (click)="goTo('/topk')">topK</a>
		/
	</span>

	<span *ngIf="loggedIn()">
		<logout></logout>
		<img [src]="this.userService.getId() | userIdToAvatarSrc">
	</span>
	
<!-- 	<span *ngIf="!loggedIn()">
		<a routerLink="/login" routerLinkActive="active">login</a>
	</span>
 -->
</div>

<site-alert></site-alert>
