<div class="header-v3">

<!-- 	<span>
		<a routerLink="/" routerLinkActive="active">main</a>
		/
	</span>
 -->
	<span *ngIf="loggedIn()">
		<a routerLink="/mail" routerLinkActive="active">msg</a>
		<span class="green">/</span>
	</span>

	<span *ngIf="loggedIn()">
		<a routerLink="/topk" routerLinkActive="active">topK</a>
		<span class="green">/</span>
	</span>

	<span *ngIf="loggedIn()">
		bkmrkz
		<span class="green">/</span>
	</span>

	<span *ngIf="loggedIn()">
		user
		<span class="green">/</span>
	</span>


	<span *ngIf="loggedIn()">
		<logout></logout>
	</span>
	
 	<span
		class="green"
		*ngIf="!loggedIn()"
	>
		<a href="http://v3ng.brm.sk" style="color: #6dae42;" data-tajny-link>
			kyberia.app
		</a>
	</span>

</div>

<site-alert></site-alert>
