<div class="mail-thread">
	<div class="mail-view" [class.active-slide]="mailToUsername">

		<button class="back" (click)="callGoBack()">
			spat na vsetkych
		</button>

		<div class="mail-form">
			<label>
				to
				<input
					placeholder="username"
					[(ngModel)]="mailToUsername"
					value="ubik"
				>
			</label>
			<textarea
				class="message"
				placeholder="message"
				[style.height]="areaSize+'px'"
				(keydown)="resizeArea()"
				(keyup)="resizeArea()"
				[(ngModel)]="mailText"
			></textarea>
			<pre id="fakeArea">{{mailText}}...</pre>
			<button (click)="send()">
				send
			</button>
		</div>

		<div class="mail-messages">
			<div class="mail"
				[ngClass]="{
					'send': userId == mailGroup[0].mail_from,
					'received': userId == mailGroup[0].mail_to
				}"
				*ngFor="let mailGroup of userMails"
			>
				<div class="header">
					<div class="icon">
						<img [src]="mailGroup[0].mail_from | userIdToAvatarSrc">
					</div>
					<div class="meta">
						{{mailGroup[0].mail_from_name}}
						-&gt;
						{{mailGroup[0].mail_to_name}}
						&nbsp; &nbsp;
						{{mailGroup[0].mail_timestamp}}
					</div>
				</div>
				<div class="messages">
					<div class="message" *ngFor="let mail of mailGroup">
						{{mail.mail_text}}
						{{scrollMessages()}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>