<div class="mail-thread">
	<div class="mail-view" [class.active-slide]="mailToUsername">

		<button class="back"
			(click)="goBack()"
		>
			spat na vsetkych
		</button>

		<div class="mail-form">
			<label>
				to
				<input
					placeholder="username"
					[(ngModel)]="mailToUsername"
					value="ubik"
				>
			</label>
			<textarea
				class="message"
				placeholder="message"
				[style.height]="areaSize+'px'"
				(keydown)="resizeArea()"
				(keyup)="resizeArea()"
				[(ngModel)]="mailText"
			></textarea>
			<pre id="fakeArea">{{mailText}}...</pre>
			<button (click)="send()">
				send
			</button>
		</div>

		<div class="mail-messages">
			<div class="mail" *ngFor="let mail of userMails">
				<div class="header">
					<div class="icon">
						<img [src]="mail.mail_from | userIdToAvatarSrc">
					</div>
					<div class="meta">
						{{mail.mail_from_name}}
						-&gt;
						{{mail.mail_to_name}}
						&nbsp; &nbsp;
						{{mail.cas}}
					</div>
				</div>
				<div class="message">
					{{mail.mail_text}}
				</div>
			</div>
		</div>
	</div>
</div>