@import "../../assets/sass/variables";

.node {
	padding-bottom: 50px;

	> .content {
		word-break: break-all;
		padding: 10px;
		max-width: 600px;
		margin: 0 auto;
	}
}

.header {
	background: #333;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;

	.meta{
		flex-grow: 1;
		word-break: break-all;
	}

	.user-format{
		display: block;
	}

	.avatar {
		width: 50px;
		margin-right: 10px;
	}
}

button.k {
	margin-right: 10px;
}

.k.k-given {
	background: #660000;
}