textarea.message {
	width: 85%;
}

.mail {
	border: 1px solid #555;
	margin: 20px;
	padding: 8px;
}

.mail .header {
	margin-bottom: 10px;
}

.user-list {
}

.user-item {
	width: 100%;
	border-bottom: 1px solid #6dae42;
	padding: 15px;
}

.user-item:hover {
	cursor: pointer;
	background-color: #444;
}

.user-item > div {
	padding: 0 10px;
}