<div class="page-mail container">

	<mail-users
		[class.hidden]="mailToUsername"
		[mapUsers]="mapUsers"
		[showThread]="showThread"
	></mail-users>

	<mail-thread
		[class.hidden]="!mailToUsername"
		[mailToUsername]="mailToUsername"
		[goBack]="goBack"
	></mail-thread>

	<!--<button
		*ngIf="selectedUser"
		style="width: 100%; line-height: 50px;"
		(click)="selectUser(0)"
	>
		spat na vsetkych
	</button>

	<div class="users-view" *ngIf="loaded" [class.active-slide]="selectedUser">
		<div class="user-list" *ngFor="let user of mailUsers">
			<div class="user-item" (click)="selectUser(user)">
				<div class="icon">
					<img [src]="user.key | userIdToAvatarSrc">
				</div>
				<div class="msg">
					<div class="header">
						<div>{{getName(user.key, user.value[0])}}</div>
						<div>{{user.value.length}}</div>
					</div>
					<div class="body">
						{{user.value[0].mail_text}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mail-view" [class.active-slide]="selectedUser">
		<div class="mail-form">
			<label>
				to
				<input
					placeholder="username"
					[(ngModel)]="mailTo"
					value="ubik"
				>
			</label>
			<br>
			<textarea
				class="message"
				placeholder="message"
				[(ngModel)]="mailText"
			></textarea>
			<br>
			<button (click)="send()">
				send
			</button>
		</div>

		<br>
		<br>
		<div class="mail-messages && loaded">
			<div class="mail" *ngFor="let mail of arrMailUsers">
				<div class="header">
					{{mail.mail_from_name}}
					-&gt;
					{{mail.mail_to_name}}
					&nbsp; &nbsp;
					{{mail.cas}}
				</div>
				<div class="message">
					{{mail.mail_text}}
				</div>
			</div>
		</div>
	</div>
-->
</div>