textarea.message {
	width: 85%;
}

.mail {
	border: 1px solid #555;
	margin: 20px;
	padding: 8px;
}

.mail .header {
	margin-bottom: 10px;
}

.user-list {
	max-width: 600px;
}

.user-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	border: 1px solid #6dae42;
	color: #6dae42;
	margin-bottom: 10px;
}

.user-item:hover {
	cursor: pointer;
	background-color: #6dae42;
	color: white;
}

.user-item > div {
	padding: 0 10px;
}