<div class="page-mail container">

	<div class="users-view" *ngIf="!selectedUser && loaded">
		<div class="user-list" *ngFor="let user of mailUsers">
			<div class="user-item" (click)="selectUser(user)">
				<div>{{getName(user.key, user.value[0])}}</div>
				<div>{{user.value.length}}</div>
			</div>
		</div>
	</div>

	<div class="mail-view" *ngIf="selectedUser">
		<div class="mail-form">
			<label>
				to
				<input
					placeholder="username"
					[(ngModel)]="mailTo"
					value="ubik"
				>
			</label>
			<br>
			<textarea
				class="message"
				placeholder="message"
				[(ngModel)]="mailText"
			></textarea>
			<br>
			<button (click)="send()">
				send
			</button>
		</div>

		<br>
		<br>
		<div class="mail-messages">
			<div class="mail" *ngFor="let mail of selectedUser.value">
				<div class="header">
					{{mail.mail_from_name}}
					-&gt;
					{{mail.mail_to_name}}
					&nbsp; &nbsp;
					{{mail.cas}}
				</div>
				<div class="message">
					{{mail.mail_text}}
				</div>
			</div>
		</div>
	</div>

</div>