textarea.message {
	width: 85%;
	margin: 8px 0;
}

.mail {
	border: 1px solid #555;
	margin: 20px;
	padding: 8px;
}

.page-mail {
	position: absolute;
	top: 84px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.mail .header {
	margin-bottom: 10px;
}

.mail-form {
	margin: 20px;
}

.user-list {
}

.user-item {
	border-bottom: 1px solid #6dae42;
	padding: 15px;
	display: flex;
}

.user-item:hover {
	cursor: pointer;
	background-color: #444;
}

.user-item .icon {
}

.user-item .header {
	color: white;
	display: flex;
	justify-content: space-between;
}

.user-item .msg {
	flex: 1;
	margin-left: 15px;
}

.users-view {
	position: absolute;
	width: 400px;
	left: 0;
	top: 58px;
	bottom: 0;
	border-right: 10px solid #6dae42;
}

.mail-view {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 400px;
	right: 0;
	top: 58px;
	bottom: 0;
	overflow: auto;
}

@media only screen and (max-width: 740px) {
  .users-view {
		left: 0;
		width: 100%;
    transition: all 0.35s linear;
		border-right: 0;
	}

	.users-view.active-slide {
		left: -100%;
	}

	.mail-view {
		flex-direction: column-reverse;
    left: 100%;
    width: 100%;
    transition: all 0.35s linear;
	}

	.mail-view.active-slide {
		left: 0;
	}
}