@import "../../assets/sass/variables";

textarea.message {
	width: 85%;
	margin: 8px 0;
}

.mail {
	border: 1px solid #555;
	margin: 20px;
	padding: 8px;
}

.page-mail {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-y: scroll;
}

.mail .header {
	margin-bottom: 10px;
}

.mail-form {
	margin: 20px;
}

.user-list {
}

.user-item {
	border-bottom: 1px solid $green;
	padding: 15px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	&:hover {
		cursor: pointer;
		background-color: #444;
	}

	.icon {

	}

	.header {
		color: white;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -webkit-box;
		display: flex;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}

	.msg {
		-ms-flex: 1;
		-webkit-flex: 1;
		-webkit-box-flex: 1;
		flex: 1;
		margin-left: 15px;
	}

}

.users-view {
	position: absolute;
	width: 400px;
	left: 0;
	top: 58px;
	bottom: 0;
	border-right: 10px solid $green;
}

.mail-view {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: absolute;
	left: 400px;
	right: 0;
	top: 58px;
	bottom: 0;
	overflow: auto;
}

@media only screen and (max-width: 740px) {
	.users-view {
		left: 0;
		width: 100%;
		-webkit-transition: all 0.35s linear;
		transition: all 0.35s linear;
		border-right: 0;
	}

	.users-view.active-slide {
		left: -100%;
	}

	.mail-view {
		-ms-flex-direction: column-reverse;
		-webkit-flex-direction: column-reverse;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		flex-direction: column-reverse;
		left: 100%;
		width: 100%;
		-webkit-transition: all 0.35s linear;
		transition: all 0.35s linear;
	}

	.mail-view.active-slide {
		left: 0;
	}
}

.hidden {
	display: none;
}