<div class="mail-users">
	<div class="users-view" *ngIf="mapUsers">

		<div
			class="user-item-wrapper clearfix"
			*ngFor="let user of mapUsers"
		>

			<div
				class="user-item"
				(click)="showThread(user.user_name, user.user_id)"
			>

				<div class="icon">
					<img [src]="user.user_id | userIdToAvatarSrc">
				</div>

				<div class="msg">
					<div class="header">
						<div class="user-format">{{user.user_name}}</div>
					</div>
					<div class="body">
						{{user.last_message}}
					</div>
				</div>
			</div>

		</div>

	</div>
</div>