@import "../../assets/sass/variables";

.user-item-wrapper{
  border-bottom: 1px solid $green;
  position: relative;
  cursor: pointer;
}

.user-item{

  .icon{
    float: left;
    margin: 10px;

    img{
      display: block;
      width: 50px;
    }
  }

  .msg{
    margin-left: 70px;
    .header{
      padding-top: 5px;
    }
    .body{
      overflow: hidden;
      position: absolute;
      left: 70px;
      right: 0;
      bottom: 0;
      top: 25px;
      word-break: break-all;
      &:after{
        content: "\00a0";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;

        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),color-stop(1%, rgba(0,0,0,0.01)),to(rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);

      }
    }
  }

  .msg-count{
    display: none;
  }
}