.site-alert {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	font-weight: bold;
	background: red;
	color: black;
	opacity: 0.9;
	cursor: pointer;

	box-sizing: border-box;
	height: 80px;
	padding: 10px 30px;

	justify-content: center;
	display: flex;
	align-items: center;
}
