@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');
// TODO: use local font, not google cdn

$green: #6dae42;

.green{
	color: $green;
}

body, html {
	background: black;
	padding: 0;
	margin: 0;
}

body {
	color: $green;
	font-family: Tahoma;
	font-size: 11pt;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: red;
	}
}

input, textarea {
	font-family: 'Roboto Mono', monospace;
	border: 1px solid $green;
	background: black;//#333;
	color: white;
	padding: 5px 10px;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 120px;
}

button {
	font-family: 'Roboto Mono', monospace;
	background: black;
	border: 1px solid $green;
	color: white;
	padding: 5px 10px;
	cursor: pointer;

	&:hover {
		background: #333;
	}

	&.k {
		color: red;
		font-weight: bold;
	}
}


.error {
	color: red;
	font-weight: bold;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.container {
	width: 100%;
	/*overflow-x: hidden;*/
}

.container-padded {
	padding: 20px;
}

.container-fullscreen {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
